.header .content,
.header .icon {
  @extend .text-blue;
}
.header .btn {
  margin: 20px 0;
  background: -webkit-linear-gradient(to left, #614385 , #516395);
  background: linear-gradient(to left, #614385 , #516395);
}

.addressModal-body {
  display: flex;
}
.addressModal-input {
  flex-basis: 100%;
    margin-right: 12px;
    border: none;
    background: #f7f7f7;
}

// .ui.cards > .card, .ui.card {
//   box-shadow: none; //Overrides semantic ui styles
// }
