.viewing {
  // display: flex;
}
.flex-header {
  display: flex;
}
.action-buttons {
  flex-grow: 1;
  display: table;
}
.location {
  // display: flex;
  // flex-wrap: wrap;
  // align-items: stretch;
  // width: 80%;
  height: calc(100vh - 41px);
}
.address {
  width: 100%;
  font-size: 28px;
}
.map {
height: calc(100% - 65px);
  width: 100%;
}
.invite-bar {
  width: 100%;
  display: flex;
  padding: 12px 6px;
  & .ui.label {
    margin-bottom: 0;
  }
}
.invited-users {
  flex-grow: 1;
}
.invite-user-form {
  width: 400px;
  background: #fff;
}
.invite-user {
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
    padding: 5px 6px;
   & input {
     border: none;
     flex-grow: 1;
   }
}
.invite-email {
  &:active,
  &:focus {
    outline: 0;
  }
}

.people{
  width: 100%;
  min-height: 1px;
  background: rgba(255,255,255,0.9);
  border-radius: 4px;
  margin: 20px 0;
  padding: 10px;
  font-size: 1.2em;
}
.client-divider {
  width: 4px;
  height: 30px;
  background: #ccc;
  border-radius: 4px;
  margin: 0 auto;
}
.client {
  border: 1px dashed #ccc;
  padding: 4px;
  margin-bottom: 8px;
  border-radius: 4px;
}
.visitor {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 4px;
  margin-top: 8px;
  background: #fff;

}

.viewing-sidebar {
  background: #474654;
}
