// .viewing {
//   // display: flex;
//   margin-top: -15px;
// }
.location {
  // display: flex;
  // flex-wrap: wrap;
  // align-items: stretch;
  // width: 80%;
  height: calc(100vh - 41px);
}
.location,
.viewing-sidebar {
  padding-left: 0;
  padding-right: 0;
}
body.viewing {
  margin-top: 50px;
}
.map {
height: calc(100% - 16px);
  width: 100%;
}
.map-wrapper {
  height: calc(100vh - 151px);
}
.viewing-card {
  width: 100%;
}

.public-viewing-sidebar {

}
.edit-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #76b852;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: rgba(118, 184, 82, 0.6);
  color: #65924d;
  padding: 13px 26px;
  h4 {
    margin-bottom: 0;
  }
  span {
    font-size: 14px;
  }
}
.wrapper-padding-15-pixels {
  padding: 0 15px;
}
.edit-address,
.edit-client,
.edit-followers {
  display: flex;
  padding: 15px 0;
}
.edit-address-input,
.edit-client-input,
.edit-followers-input {
  flex-grow: 1;
  margin-right: 20px !important; //Semantic override
  width: auto !important; //Semantic override
}
.add-client-wrapper {
  display: flex;
  justify-content: center;
}
.js-add-follower {
  flex: 0 0 124px;
  height: 38px;
}
.public-viewing-sidebar {
  background-color: #242425;
  min-height: 100%;
}
.activity-header > .icon.newspaper,
.activity-header > .content {
  color: #b1b1b1 !important;
}
.viewport-height {
  height: calc(100vh - 107px);

}
.activity-header {
  padding: 10px 0 !important;
  border-bottom: 1px solid #404040 !important;
}
.progress {
  flex-grow: 1;
  height: 1px;
  margin: 0 10px;
}
.parties {
  border: 1px solid #404040;
  border-radius: 4px;
  color: #b1b1b1;
  margin-top: 10px;
  .user {
    padding: 4px;
  }
}
.date-of-viewing {
  flex-grow: 1;
}

.list-group-item {
  background-color: transparent;
  border-color: #404040;
  color: #b1b1b1;
}
i.circular.viewing.icon {
  box-shadow: 0em 0em 0em 0.1em rgba(64, 64, 64, 1) inset;
}
i.icon.circular.flag {
  box-shadow: 0em 0em 0em 0.1em rgb(92, 184, 92);
}
i.icon.circular.location.arrow {
  box-shadow: 0em 0em 0em 0.1em rgb(177, 177, 177);
}
