.viewing {
  // display: flex;
  margin-top: -15px;
}
.location {
  // display: flex;
  // flex-wrap: wrap;
  // align-items: stretch;
  // width: 80%;
  height: calc(100vh - 41px);
}
.location,
.viewing-sidebar {
  padding-left: 0;
  padding-right: 0;
}
.map {
height: calc(100% - 16px);
  width: 100%;
}

.viewing-sidebar {

}
.edit-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #76b852;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: rgba(118, 184, 82, 0.6);
  color: #65924d;
  padding: 13px 26px;
  h4 {
    margin-bottom: 0;
  }
  span {
    font-size: 14px;
  }
}
.wrapper-padding-15-pixels {
  padding: 0 15px;
}
.edit-address,
.edit-client {
  display: flex;
  padding: 15px 0;
}
.edit-address-input,
.edit-client-input {
  flex-grow: 1;
  margin-right: 20px !important; //Semantic override
  width: auto !important; //Semantic override
}
.add-client-wrapper {
  display: flex;
  justify-content: center;
}
