@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
@import '../../node_modules/material-shadows/material-shadows.scss';

@import 'helpers';
@import 'signup';
@import 'menus';
@import 'usersList';
@import 'text';
@import 'dashboard';
@import 'forms';

.map {
  height: 500px;
}

@media (min-width: 576px) {
  .pac-container {
    border-radius: 4.2px !important;
    width: 498px !important;
    left: 551px !important;
    top: 100px !important;
    z-index: 1200;
  }
}
